In [20]:
import pandas as pd
import numpy as np

import sys
import os
if not sys.modules.get('pyarrow'):
    os.system('pip3 install pyarrow')

In [2]:
sample = pd.read_csv('./data/sample_result.csv',encoding='utf-8')

In [3]:
sample.head()

,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
0,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
2,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
4,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sample.shape

(146, 279)

In [5]:
sample.columns

Index(['_1', '가고시마,NNP', '가디언,NNP', '강남영,NNP', '강릉시,NNP', '강원도,NNP', '경기도,NNP',
       '경보병,NNP', '고세진,NNP', '공지영,NNP',
       ...
       '호르무즈,NNP', '호세,NNP', '호주,NNP', '호찌민,NNP', '호튼,NNP', '홍콩,NNP',
       '황해남도,NNP', '황해북도,NNP', '후안,NNP', '후쿠다,NNP'],
      dtype='object', length=279)

In [6]:
sample.iloc[[1,2,3],:]

,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
1,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
2,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"

In [7]:
sample.shape[0]

146

In [8]:
# 뭔지 기억 안남. 
# idx =0 
# idx_list=[]
# while True:
#     if idx >= sample.shape[0]:
#         break
#     idx_list.append(idx)    
#     idx+=2

In [9]:
# max(idx_list)

In [10]:
sample_arrange = sample.loc[sample['_1']!='_1',:]

In [11]:
sample_arrange.head()

,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
0,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
type(sample_arrange)

pandas.core.frame.DataFrame

In [13]:
sample_arrange.fillna(0,inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [14]:
sample_arrange.iloc[:,1:] = sample_arrange.iloc[:,1:].astype(np.int)

D:\anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
#sample_arrange.dtypes

In [16]:
#sample_arrange.index=pd.date_range('20180929',periods=sample_arrange.shape[0])
sample_arrange["_1"]=pd.date_range('20180929',periods=sample_arrange.shape[0])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
#sample_arrange['_1']

In [18]:
sample_arrange.head()

,_1,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
0,2018-09-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-09-30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018-10-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2018-10-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2018-10-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
sample_arrange.shape

(81, 279)

In [24]:
sample_arrange.rename(columns={'_1':'date'},inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [28]:
sample_arrange.reset_index(drop=True,inplace=True)

In [37]:
#sample_arrange.to_parquet('./data/sample_arr_fin.parquet')

In [31]:
import datetime as dt
import time
from tqdm import tqdm_notebook

In [32]:
#######################################################################################################################################
stime = time.time()
stride = 6
freq_plate = pd.DataFrame(columns=sample_arrange.columns)
for idx in tqdm_notebook(range(sample_arrange.shape[0]-6)):# 이날짜까지 계산함
    #1열 9.07  7.09
    #30개씩 끊는건 유효하나 30일을 초과해버리면 그 이후 데이터는 사용하지 않는다. for문을 돌리면 속도가 느리다.
    # 처음에는 마지막거만 비교해본다. 비교결과 30 이상 차이가 난다면 앞에꺼부터 비교해서 30일 이하 인것만 더한다.
    target_idx = None 
    last_idx = min(sample_arrange.shape[0],idx+stride)
    start_date = sample_arrange.iloc[idx,0]    
    end_date = sample_arrange.iloc[last_idx,0]
    
    if (end_date - start_date).days >30:
        for next_idx in range(1,stride):
            diff = sample_arrange.iloc[next_idx,1:] - start_date
            if diff.days > 30:
                target_idx = idx+next_idx
    else:
        target_index = last_idx
    # sample_arrange
    sum_freq = sample_arrange.iloc[idx:last_idx,1:].sum().astype(np.int8)
    sum_freq['date'] ='-'.join([str(sample_arrange.iloc[idx,0])[:10],str(6)])    
    sum_freq_sort = sum_freq[sample_arrange.columns]        
    freq_plate.loc[idx]=sum_freq_sort # 인덱스로 인식한다. #loc이 행 추가도 한다.
    # 이를 데이터 프레임에 담아서 출력한다. 


#######################################################################################################################################
#freq_plate = freq_plate.astype(np.int8)
print(time.time()-stime)

HBox(children=(IntProgress(value=0, max=75), HTML(value='')))

2.316988229751587

In [33]:
freq_plate

,date,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
0,2018-09-29-6,0,0,0,0,1,0,2,0,0,...,0,0,0,0,0,0,1,1,0,0
1,2018-09-30-6,0,0,0,0,1,0,2,0,3,...,0,0,0,0,0,0,1,1,0,0
2,2018-10-01-6,0,0,0,0,1,0,2,0,3,...,0,0,0,0,0,0,1,1,0,0
3,2018-10-02-6,0,0,0,0,1,0,2,1,3,...,0,0,0,0,0,0,1,1,0,0
4,2018-10-03-6,0,0,0,0,1,0,2,1,3,...,0,0,0,0,0,0,1,1,0,0
5,2018-10-04-6,0,0,0,0,1,0,2,1,3,...,0,0,0,0,0,0,1,1,0,0
6,2018-10-05-6,0,0,0,0,0,0,3,1,3,...,0,0,0,0,0,0,0,0,0,0
7,2018-10-06-6,0,0,0,0,0,0,3,1,0,...,0,0,0,0,0,0,0,0,0,0
8,2018-10-07-6,0,0,0,0,0,0,3,1,0,...,0,0,0,0,0,0,0,0,0,0
9,2018-10-08-6,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2018-10-09-6,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2018-10-10-6,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2018-10-11-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2018-10-12-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,2018-10-13-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,2018-10-14-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,2018-10-15-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,2018-10-16-6,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,2018-10-17-6,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,2018-10-18-6,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2018-10-19-6,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2018-10-20-6,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2018-10-21-6,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2018-10-22-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2018-10-23-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2018-10-24-6,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2018-10-25-6,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2018-10-26-6,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2018-10-27-6,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2018-10-28-6,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,2018-11-13-6,0,1,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,1,0
46,2018-11-14-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,2018-11-15-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,2018-11-16-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,2018-11-17-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,2018-11-18-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,2018-11-19-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,2018-11-20-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,0
53,2018-11-21-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,0
54,2018-11-22-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,0
55,2018-11-23-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,0
56,2018-11-24-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,0
57,2018-11-25-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,0
58,2018-11-26-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,2018-11-27-6,0,0,0,0,0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
60,2018-11-28-6,0,0,0,0,0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
61,2018-11-29-6,0,0,0,0,0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
62,2018-11-30-6,0,0,0,0,0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
63,2018-12-01-6,0,0,0,0,0,1,0,0,7,...,0,0,0,0,0,0,0,0,0,0
64,2018-12-02-6,0,0,0,0,0,1,0,0,7,...,0,0,0,0,0,0,0,0,0,0
65,2018-12-03-6,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
66,2018-12-04-6,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
67,2018-12-05-6,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
68,2018-12-06-6,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
69,2018-12-07-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
70,2018-12-08-6,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
71,2018-12-09-6,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
72,2018-12-10-6,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
73,2018-12-11-6,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,2018-12-12-6,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
#sample_arrange['date']

In [35]:
#freq_plate['date']

In [36]:
# #목표는 7일단위로 묶어서 빈도를 연산한다.
# stride = 7
# #7일 단위로 묶기
# print(sample_arrange.iloc[7,0])
# print(sample_arrange.iloc[0,0])
# a = sample_arrange.iloc[7,0]
# b = sample_arrange.iloc[0,0]
# print('a-',a - dt.timedelta(days=stride))
# #print(sample_arrange.iloc[0,0])
# print('a-b',(a-b).days)
# # 마지막 지점 계산
# # 0 부터 시작하고 
# #last = sample_arrange.iloc[-1,0]
# #print(last)

In [51]:
a = list(sample_arrange.columns)
print(type(a))
sum_freq[list(sample_arrange.columns)]

<class 'list'>

date        2018-09-29-6
가고시마,NNP               0
가디언,NNP                0
강남영,NNP                0
강릉시,NNP                0
강원도,NNP                1
경기도,NNP                0
경보병,NNP                2
고세진,NNP                0
공지영,NNP                0
교황청,NNP                0
국정원,NNP                1
그리스,NNP                0
그릴로,NNP                0
기무사,NNP                1
기상이변,NNP               0
기아,NNP                 0
김,NNP                  0
김남권,NNP                0
김남석,NNP                0
김부선,NNP                0
김삼환,NNP                0
김성탁,NNP                0
김용환,NNP                0
김원규,NNP                0
김재규,NNP                0
김정,NNP                 0
김정은,NNP                3
김지훈,NNP                0
김진두,NNP                0
                ...
피네다,NNP                0
피에르,NNP                0
피에트로,NNP               0
핀란드,NNP                0
필리핀,NNP                0
필립,NNP                 0
하이,NNP                 0
하탸투랸,NNP               0
한,NNP                  0
한국,NNP                 5
한반도,NNP                2
한주희,NNP                0
한중일,NNP                0
함경남도,NNP               1
함경북도,NNP               1
해리,NNP                 0
허난성,NNP                0
헤럴드,NNP                0
혜산,NNP                 2
혜산시,NNP                1
호르무즈,NNP               0
호세,NNP                 0
호주,NNP                 0
호찌민,NNP                0
호튼,NNP                 0
홍콩,NNP                 0
황해남도,NNP               1
황해북도,NNP               1
후안,NNP                 0
후쿠다,NNP                0
Length: 279, dtype: object

In [34]:
freq_plate = pd.DataFrame(columns=sample_arrange.columns)

In [63]:
# 행 산술연산 연습
type(sample_arrange.iloc[0:6,1:].sum())# str int 연산이 안된다고 햇는데 자꾸 컬럼명이나 index가 문제일거라고 확신했음.
# =>빈도에 문자열이 들어가있어서 그럼 
#np.array(sample_arrange.iloc[0:1,1:])+np.array(sample_arrange.iloc[1,1:])
sum_freq = sample_arrange.iloc[0:6,1:].sum()

sum_freq['date'] ='-'.join([str(sample_arrange.iloc[0,0])[:10],str(6)])
print('됫냐')
sum_freq_sort = sum_freq[sample_arrange.columns]
#print('sum_freq_sort.head()',sum_freq_sort)
#pd.DataFrame(sum_freq_sort)
freq_plate.loc[0]=sum_freq_sort # 인덱스로 인식한다. #loc이 행 추가도 한다.
freq_plate
#sample_arrange.iloc[0:6,1:].append('-'.join([str(sample_arrange.iloc[0,0])[:10],str(6)]))

됫냐

,date,"가고시마,NNP","가디언,NNP","강남영,NNP","강릉시,NNP","강원도,NNP","경기도,NNP","경보병,NNP","고세진,NNP","공지영,NNP",...,"호르무즈,NNP","호세,NNP","호주,NNP","호찌민,NNP","호튼,NNP","홍콩,NNP","황해남도,NNP","황해북도,NNP","후안,NNP","후쿠다,NNP"
0,2018-09-29-6,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [87]:
# 7일 단위 인덱스와 그 빈도수의 합을 붙이기 
index_list = []
for idx in range(sample_arrange.shape[0]-6):
    #index_list.append('~'.join([str(sample_arrange.iloc[idx,0])[:10],str(sample_arrange.iloc[idx+6,0])[:10]]))
#     for _ in range(stride):
    freq_plate 
    index_list.append('-'.join([str(sample_arrange.iloc[idx,0])[:10],str(6)])) # 같은거 stride만큼 갯수 생성
        #print(index_list)
    #break